
$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin:0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD,$color-primary, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color:$color-mid;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

/**custom css*/


.card{
    box-shadow: 5px 5px 8px #888888;
}

.form-control{
background-color: rgb(247, 244, 244);
/*transition:width 2s, height 4s;*/
}

.table-primary {
    background-color: $color-mid;
    color:white;
}

.navbar{
    transition:width 2s, height 4s;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-color: rgb(89, 12, 160);}

    50%  {background-color:  #c34de0;color:white}
    100% {background-color: #480563;color:white}
  }
  
  .btn-primary:hover {
    color: rgb(245, 241, 241);
    background-color: #480563 !important;
  }
  
  .btn-primary:focus {
    color: rgb(245, 241, 241);
    background-color: #63054b !important;
  }
  
  .btn-primary:active {
    color: white;
    background-color: green !important;
  }

  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}